
 <!DOCTYPE html>
  <html>
    <head>
         <link rel="stylesheet" href={{(url_for('static',filename='paginate.css'))}}>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <style>
        #topbarsearch .input-field .prefix {
            width:0rem !important;
            }
        #topbarsearch nav ul li:hover, nav ul li.active {
                background-color: none !important;
            }
        .input-field .prefix ~ input, .input-field .prefix ~ textarea, .input-field .prefix ~ label, .input-field .prefix ~ .validate ~ label, .input-field .prefix ~ .autocomplete-content{
            margin-left: 1rem !important;
            }
        </style>
    </head>
    <body>
        <nav class="white">
            <div class="nav-wrapper">


                <img class="brand-logo" src = {{(url_for('static',filename='img/FreshGravity_Logo_RGB.png'))}} height = 50px width = 200px style ="margin-top : 8px; margin-left:8px" />

                <center>
                <ul class="hide-on-med-and-down right">
                    <li>
                       <div class="center row">
                          <div class="col s12 " >
                            <div class="row" id="topbarsearch">
                              <div class="input-field col s6 s12 blue-text">
                                <i class="blue-text material-icons prefix">search</i>
                                  <form action="/search/0" method="post">
                                <input class="autocomplete form-control" name="search"  value="{{ request.form.search}}" id="autocomplete-input" autocomplete="off" placeholder="Search Here" autofocus="autofocus" type="text">
                              <input type="submit" value="Submit" hidden="True" id="SearchEnter">
                                      </form>
                              </div>
                              </div>
                            </div>
                          </div>
                      </li>
                    <li>
                    <a href="/page/0" class="blue-text">Home</a>
                    </li>
                    <li>
                    <a href="/logout" class="blue-text">Logout</a>
                    </li>
                </ul>
                    </center>
            </div>
          </nav>


        <!--{% with messages = get_flashed_messages() %}
	  {% if messages  %}
	    {% for message in messages[0:1] %}
			{{message}}
		{% endfor %}
	  {% endif %}
	{% endwith %}-->

  <table>

      <tbody>
      <tr>
                {% for d in header.split(",") %}
                <td>{{ d }}</td>
                {% endfor %}
                <td>Key People Details</td>
                <td>Certificate Details</td>

                <!-- <th> Data </th> -->
            </tr>
        {% for row in data %}
        <tr>
            {% for d in row.split(",") %}
            <td>{{ d }}</td>
            {% endfor %}
            <div>
            <td><a href = "/company/{{row.split(',')[1]}}.csv" >Key People Details</a></td>
                <td><a href="/certificate/{{row.split(',')[1]}}.csv" >SSL Certificate Details</a></td>
        </div>
        </tr>
        {% endfor %}
      </tbody>
</table>

<div class="paginate wrapper">
    <ul>
        {% if request.form.search is none %}
            {% if pageNum > 1 %}
                <li><a href="/page/{{pageNum-2}}">&lang;</a></li>
            {% endif %}
            <li><a href="" class="active">{{pageNum}}</a></li>
            <li><a href="/page/{{pageNum }}">{{pageNum + 1}}</a></li>
            <li><a href="/page/{{pageNum + 1}}">{{pageNum + 2}}</a></li>
            <li><a href="/page/{{pageNum + 2}}">{{pageNum + 3}}</a></li>
            <li><a href="/page/{{pageNum + 3}}">{{pageNum + 4}}</a></li>
            <!--<li><a href="" class="more">&hellip;</a></li>-->

            <li><a href="/page/{{pageNum}}">&rang;</a></li>

        {% else %}
            {% if pageNum > 1 %}
                <li><a href="/search/{{pageNum-2}}">&lang;</a></li>
            {% endif %}
            {% if resSize + pageNum < 5 %}
            {% set pagination = resSize %}
            {% else %}
            {% set pagination = 5 %}
            {% endif%}


            {% if (resSize - pageNum < 4) %}
            {% for i in range( 5-(resSize-pageNum),1,-1 ) if (pageNum - i) >=0 %}
            <li><a href="/search/{{pageNum - i }}">{{pageNum -i +1 }}</a></li>
            {% endfor %}
            {% endif %}

            <li><a href="" class="active">{{pageNum}}</a></li>

            {% for i in range(1, pagination) if pageNum + i <= resSize %}
            <li><a href="/search/{{pageNum + i -1}}">{{pageNum + i}}</a></li>

            {% endfor %}
            {% if pageNum != resSize %}
            <li><a href="/search/{{pageNum}}">&rang;</a></li>
            {% endif %}
        {% endif %}
    </ul>
</div>





      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
      <script>
       $(document).ready(function(){
                $('input.autocomplete').autocomplete({
                data: {


                }
                });
       });
      $(document).ready(function(){
    $('#TextBoxId').keypress(function(e){
      if(e.keyCode==13)
      $('#SearchEnter').click();
    });
});

      </script>
    <script>
function downloadMessage() {
      alert("File cannot be downloaded");;
}
</script>

    {% with messages = get_flashed_messages() %}
  {% if messages %}
    <script>
      var messages = {{ messages | safe }};
      for (var i=0; i<messages.length; i++) {
        alert(messages[i]);
      }
    </script>
  {% endif %}
{% endwith %}

    </body>
  </html>